/* Bakgrunn som inspirasjonsbildet */
body {
  background: #f2f2f2;
  height: 100vh;
}

/* Kort-stil */
.card {
  border: 0;
  border-radius: 10px;
}

/* Flexbox grid */
.bilder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
}

/* 1:1 bilder */
.bilder img {
  width: calc(50% - 5px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}
